body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;

}

* {
    box-sizing: border-box;
}


.button1 {

    padding: 9px 1.1em 9px 0;
    background-color: rgb(50, 54, 91);
    border: none;
    border-radius: 4px;
    color: rgb(255, 254, 254);
    width: 6em;
}

.createAccount {
    margin-top: 2em;

}

.createAccount a {
    text-decoration: none;
    color: red;
}

span,
.userName::placeholder,
.passWord::placeholder {
    color: rgb(87, 84, 84);
}

/******************** forgotPassword****************/
.dim{
  background-color: rgba(0, 0, 0, 0.787);
  position: absolute;
  left: 0;
  right: 0;
}
.forgotPassword {
    height: 100%;
    width: 100%;
    background-color: rgb(195, 185, 185);
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(165, 164, 164);
    border-radius: 5px;
    margin: 0px auto 0 auto;
}

form {
    margin: 5em 0;
}


/* *{
  border: 1px solid red;
}
   */

/*createAnAccount*/

.reg{
  background-image: url(../img/bg-r.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.informations {
  
}
.information1,
.information4 {
    background-color: white;
}

.reg .head {
    width:100%;
    white-space: normal;
}

.reg {
    background-color: #EBEBEB;
}
.header2,
.header3,
.header4,
.header5,
.header6,
.header7 {
    background-color: #4797BF;
    font-size: 1.2em;
    color: white;
    padding: 4px 0 10px 7px;
    border-radius: 5px 5px 0 0;
    width: 100%;
}
.header7{
    margin-bottom: 20px;
}

.information1 p,
.information2 p,
.information3 span,
.information4 p,
.information5 p,
.information6 p {
    /* margin-left: 30em; */
    color: rgb(27, 27, 27);
}

.information1,
.information2,
.information3,
.information4,
.information5,
.information6 {
}
.text-bg{
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
}

.information1 .radio,
.information2 .text,
.information3 p,
.information4 .select,
.information5 .text,
.information6 .input {
    margin-top: 2.5em;
}

.information1 .text input,
.information2 p input,
.information4 p select,
.information4 p input,
.information5 p select,
.information5 p input,
.information6 p input {
    padding: 5px;
    /* width: 30em; */

}

.information2,
.information4 {
    background-color: #fff;
    margin-top: 2em;
}

.information3 {
    margin-top: 2em;
    background-color: #fff;
}

.information5 { 
    background-color: #fff;
    margin-top: 2em;
}

.information6 {
    background-color: #fff;
    margin-top: 2em;
}

.information6 textarea {
    height: auto;
    /* width: 31.5em; */
}

.information1 p span,
.information2 p span,
.information3 p span,
.information4 p span,
.information5 p span,
.information6 p span {
    color: red;
}

.informations footer {
    margin: 2em 0 0 0;
    
}

.informations footer .Continue {
    padding: 9px 1.5em;
    border-radius: 5px;
    background-color: rgb(50, 54, 91);
    color: white;
    outline: none;
    font-size: 1em;
}

.informations footer a {
    color: #4797BF;
    text-decoration: none;
}

* {
    outline: none;
}

/*Terms and conditions*/
.TermsAndConditions {
    margin-top: 14em;
}



/* *{
    border: 1px solid red;
} */